@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
    //string VDataMessage = ViewData["Message"] as string;
   // string VBagMessage = ViewBag.Message;
}
@*<div class="alert alert-success">
    @ViewData["Message"]
</div>*@
@* <div class="alert alert-primary">
    @ViewBag.message
</div> *@
<h1>All Employees</h1>
<br />
<br />
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">create New Employee</a>
<br />
<div class="row justify-content-center align-content-around">
<form class="row col-8 offset-1" asp-action="Index">
    <div class="col-8">
            <input class="form-control" type="text" name="SearchValue" placeholder="Search By Name" />

    </div>
    <div class="col-4">
        <input type="submit" value="Search" class="btn btn-success" />

    </div>

</form>
</div>
<br />
@if (TempData["Message"] is not null)
{

    <div class="alert alert-success">
        @TempData["Message"];
    </div>

}
@if (Model.Count() > 0)
{
   <table class="table table-hover mt-3" >
       <thead>
           <tr>
                <th>@Html.DisplayNameFor(E=>E.Name)</th>
                <th>@Html.DisplayNameFor(E=>E.Age)</th>
                <th>@Html.DisplayNameFor(E=>E.Salary)</th>
                <th>@Html.DisplayNameFor(E=>E.Address)</th>
                <th>@Html.DisplayNameFor(E=>E.Email)</th>
                <th>@Html.DisplayNameFor(E=>E.PhoneNumber)</th>
                <th>@Html.DisplayNameFor(E=>E.Department)</th>
                <th>@Html.DisplayNameFor(E=>E.HireDate)</th>
                <th>@Html.DisplayNameFor(E=>E.IsActive)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
           </tr>
       </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@Html.DisplayFor(E=>employee.Salary)</td>
                    <td>@Html.DisplayFor(E=>employee.Department.Name)</td>
                    <td>@Html.DisplayFor(E=>employee.Address)</td>
                    <td>@Html.DisplayFor(E=>employee.Email)</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.HireDate</td>
                    <td>
                        @if (employee.IsActive == true)
                        {
                            <i class="fa-solid fa-circle" style="color:green"></i>
                        }
                        else
                        {
                        <i class="fa-solid fa-circle" style="color:red"></i>
                        }
                    </td>
                   
                   <partial name="_ButtonsPartialView" model="employee.Id.ToString()"/>

                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mt-5 alert alert-warning">
        <h3>There is No Employees</h3>
    </div>
}
